@model ChatMessage

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card card-default">
                        <div class="card-header">
                            <h5 class="card-title"><i class="fas fa-comments">Live Chat</i></h5>
                        </div>
                        <div class="card-body">

                            <div>
                                <input type="button" id="joinGroup" value="Join Chat!" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        const userName = '@User.Identity.Name';
        const chatGroupId = '@Model.ChatGroupId';
    </script>

    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chatScript.js"></script>
    <script src="~/js/signalrChat.js"></script>

</body>
</html>