@model HomeIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<partial name="_Carousel" model="Model.Carousels" />

<div class="container">
    @await Component.InvokeAsync("NewArrivals")
</div>