
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@await Component.InvokeAsync("Carousel")

<div class="container">
    @await Component.InvokeAsync("NewArrivals")
</div>