@model TubesListViewModel

<h1>@Model.CurrentCategory</h1>
<div class="row">
    @foreach (var tube in Model.Tubes)
    {
        <partial name="_TubeCard" model="tube" />
    }
</div>




@*<div id="tubeDiv">

</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            GetMoreTubes();
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                GetMoreTubes();
            }
        });

        function GetMoreTubes() {
            $.ajax({
                type: 'GET',
                url: '/api/TubeData',
                dataType: 'json',
                success: function (jsonData) {
                    if (jsonData == null) {
                        alert('no data returned');
                        return;
                    }

                    $.each(jsonData, function (index, tube) {
                        var TubeSummaryString =
                            '<div class="col-sm-4 col-lg-4 col-md-4">' +
                            '   <div class="img-thumbnail">' +
                            '       <figure class="figure">' +
                            '           <img src="' + tube.imageThumbnailUrl + '" class="figure-img img-fluid rounded" alt="">' +
                            '           <figcaption class="figure-caption">' +
                            '               <h3 class="float-right">' + tube.price/*.ToString("c")*/ + '</h3>' +
                            '               <h3>' +
                            '                   <a href=/Tube/Details/' + tube.tubeId + '>' + tube.brand + ',' + tube.type + '</a>' +
                            '               </h3>' +
                            '                   <p>' + tube.shortDescription + '</p>' +
                            '           </figcaption>' +
                            '           <div class="addToCart">' +
                            '               <p class="button">' +
                            '                   <a class="btn btn-primary" href=/ShoppingCart/AddToShoppingCart/' + tube.tubeId + ' >Add to cart</a>' +
                            '               </p>' +
                            '           </div>' +
                            '       </figure>' +
                            '   </div>' +
                            '</div>';

                        $('#pieDiv').append(TubeSummaryString);
                    });
                },
                error: function (ex) {
                    alert(ex);
                }
            });
            return false;
        }
    </script>
}*@