
@{
    ViewData["Title"] = "_Main";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<body class="hold-transition">
        <div class="login-box">
            <div class="card">
                <div class="card-body login-card-body">
                    <div>
                        <div class="row">
                            <div class="col-md-3" style="border-right:1px">
                                @await Html.PartialAsync("_ManageNav")
                            </div>
                            <div class="col-md-9">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>