<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
</head>

<body>
    <div>
        @await Component.InvokeAsync("ModalNotification")

        <partial name="_Header" />

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="lead mt-2 mb-0">
                        <a asp-controller="Home" asp-action="Index">
                            <img class="img-fluid" alt="Tube Store" src="~/Images/logo.jpg" />
                        </a>
                    </p>
                    <h3 align="center">Tube store</h3>
                    <form role="form" method="POST" asp-controller="Home" asp-action="Search">
                        <div class="input-group mt-5 mb-5">
                            <input type="text" class="form-control" id="search" name="search" placeholder="Find a tube...">
                            <div class="input-group-append">
                                <button class="btn btn-danger" type="submit">Go!</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="container mt-4">
                        @await Component.InvokeAsync("TopTube")
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="container mb-2">
                        <partial name="_Navigation" />
                    </div>
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

            </div>
        </div>
        <partial name="_Footer" />
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/bootstrap-sweetalert/sweetalert.js"></script>
    <script src="~/js/deleteModal.js"></script>
    <partial name="_ValidationScripts" />
</body>
</html>
