
    <body>
        @*<div class="fixed-bottom">*@
            <div class="container card mt-4 mb-2 bg-light">
                <div class="row">
                    <div class="col-md-2 mt-4 ml-5">
                        <h5>COMPANY</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="login.html">About Us</a>
                            </li>
                            <li>
                                <a href="login.html">Contact Us</a>
                            </li>
                            <li>
                                <a href="login.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="login.html">Term & Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-4">
                        <h5>ACCOUNT</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="login.html">My Account</a>
                            </li>
                            <li>
                                <a href="login.html">Order Status</a>
                            </li>
                            <li>
                                <a href="login.html">Payment</a>
                            </li>
                            <li>
                                <a href="login.html">Shipping & Returns</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mt-4">
                        <h5>SHOPPING</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="login.html">All Products</a>
                            </li>
                            <li>
                                <a href="login.html">Category Index</a>
                            </li>
                            <li>
                                <a href="login.html">FAQ/Help</a>
                            </li>
                            <li>
                                <a href="login.html">On Sale!</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 mt-4">
                        <p>Get the latest news and deals</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter your email here ..." aria-label="Subscribe" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-danger" type="submit">Subscribe</button>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <img class="rounded" alt="Payments" src="~/Images/payment.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        @*</div>*@
    </body>
