<header>
    <div class="container card bg-light mt-2 mb-2">
        <div class="row">
            <div class="col-lg-6">
                <a class="nav-link text-dark " asp-controller="Home" asp-action="Index">Home</a>
            </div>
            <div class="col-lg-6 text-right">
                <a class="nav-link text-dark" asp-controller="Contact" asp-action="Index">Contact us</a>
            </div>
        </div>
    </div>
</header>