<nav class="navbar navbar-expand bg-light">
    <a class="navbar-brand">Our products:</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle h5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <u>Pre Triodes</u>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">6N1P</a>
                    <a class="dropdown-item" href="#">6N6P</a>
                    <a class="dropdown-item" href="#">ECC82</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle h5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <u>Pre Pentodes</u>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">6J1P</a>
                    <a class="dropdown-item" href="#">6J32P</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle h5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <u>Out Pentodes</u>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">6P14P</a>
                    <a class="dropdown-item" href="#">EL84</a>
                    <a class="dropdown-item" href="#">EL95</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle h5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <u>Other Types</u>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">A103</a>
                    <a class="dropdown-item" href="#">EZ80</a>
                    <a class="dropdown-item" href="#">On Sale!</a>
                </div>
            </li>
        </ul>
    </div>
</nav>