@model HomeViewModel

@await Html.PartialAsync("Carousel")

<br />
<h6>Top tubes this week:</h6>

<div class="row">
    @foreach (var item in Model.TubesOfTheWeek)
    {
        @Html.Partial("TubeOfTheWeekSummary", item)
    }
</div>
