<li class="nav-item" id="list">
    <i class="fas fa-money-check">
        <span class="badge notification-count" id="notificationCount" data-toggle="popover" title="Notifications">
        </span>
    </i>
</li>