
@{
    ViewData["Title"] = "CreateMail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <section class="content">
        <div class="container-fluid">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Create New Message</h3>
                    </div>
                    <div class="card-body">
                        <form role="form" method="post" asp-area="Admin" asp-controller="EmailSubscription" asp-action="CreateMail">
                            
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="control-label">Message Text</label>
                                        <textarea name="text" type="text" class="form-control" rows="16"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="form-group">
                                        <input type="submit" value="Send" class="btn btn-danger" />
                                    </div>
                                </div>
                        </form>
                    </div>
            </div>
        </div>
    </section>